<html>

<body>

    <div>Dear %cusnm% ( %cusno% )<br/></div>
    <div>Thank you for placing your order %corno% to DENSO Malaysia Sdn Bhd.<br/></div>
    <div>Your order will be processed and delivery will be made accordingly pending on DNMY stock availability.<br/><br/></div>
    <div>This Purchase Order acknowledgment is system generated.Please do not reply to this email account.<br/><br/></div>
    <div>With Best Regards<br/></div>
    <div>DENSO Malaysia Sdn Bhd.<br/></div>
    <div>ASM Sales Department<br/></div>


</body>

</html>