<html>

<body>

    <div>Kính gửi %cusnm% ( %cusno% )<br/></div>
    <div>Cảm ơn Quý Khách hàng đã gửi đơn hàng %corno% tới Chi nhánh Công ty TNHH DENSO Việt Nam tại Hà Nội.<br/></div>
    <div>Đơn hàng của Quý Khách hàng sẽ được chúng tôi xử lý và thông báo tiến độ của Đơn hàng tới Quý Khách hàng trong thời gian sớm nhất.<br/> </div>
    <div>Trân trọng!<br/></div>
    <div>Chi nhánh Công ty TNHH DENSO Việt Nam tại Hà Nội.<br/><br/> </div>
    <div>Thư điện tử này được gửi tự động từ hệ thống,vui lòng không trả lời.<br/> </div>
    <div>Nếu Quý khách hàng có bất kỳ câu hỏi hay yêu cầu nào,vui lòng liên hệ số điện thoại 024 3881 1608 máy lẻ 3302<br/><br/></div>


    <div>Dear %cusnm% ( %cusno% )<br/></div>
    <div>Thank you for placing your order %corno% to DENSO VIETNAM<br/></div>
    <div>Your order will be processed accordingly and we will inform you of the progress in due course.<br/><br/></div>
    <div>This Order Acknowledgment is system generated.</div>
    <div>Please do not reply directly to this email account.<br/><br/></div>
    <div>With Best Regards<br/></div>
    <div>DENSO VIETNAM<br/></div>
    <div>Customer Service & Operation<br/></div>


</body>

</html>