<html>

<body>

    <div>Dear %cusnm% ( %cusno% )<br/></div>
    <div>Thank you for placing your order %corno% to DENSO Sales() Co., Ltd.<br/></div>
    <div>Your order will be processed accordingly and we will inform you of the progress in due course.<br/><br/></div>
    <div>This Order Acknowledgment is system generated.</div>
    <div>Please do not reply directly to this email account.<br/><br/></div>
    <div>With Best Regards<br/></div>
    <div>DENSO Sales() Co., Ltd.<br/></div>
    <div>Customer Service & Operation<br/></div>


</body>

</html>