<html>

<body>

	
    <div>เรียน ผู้ที่เกี่ยวที่ข้อง<br/></div>
    <div>%cusnm% ( %cusno% ) ได้ทำการดำเนินคำสั่งซื้อสินค้าหมายเลข %corno% ผ่านระบบ Web Order System เป็นที่เรียบร้อยแล้ว<br/></div>
    <div>อีเมล์ฉบับนี้เป็นการแจ้งข้อมูลจากระบบอัตโนมัติ, กรุณาอย่าตอบกลับ<br/></div>
	
    <div><br/>ขอแสดงความนับถือ<br/></div>
    <div>Web Order System<br/> </div>


	
	<br/><br/>


    <div>Dear Concerns,<br/></div>
    <div>%cusnm% ( %cusno% ) has processed the order number %corno% on Web Order System already.<br/></div>
	
    <div><br/>This Order Acknowledgment is system generated.<br/><br/></div>
    <div>Please do not reply directly to this email account.</div>
	
    <div><br/>With Best Regards,<br/></div>
    <div>Web Order System<br/></div>

</body>

</html>