<html>

<body>

    <div>เรียน ผู้ที่เกี่ยวที่ข้อง<br/></div>
	
    <div>ขอขอบคุณ %cusnm% ( %cusno% ) ที่ทำการสั่งซื้อสินค้า<br/></div>
    <div>%dealer_nm% ( %dealer_no% ) ได้รับคำสั่งซื้อสินค้าหมายเลข %corno% เรียบร้อยแล้ว<br/></div>
    <div>%dealer_nm% ( %dealer_no% ) จะทำการแจ้งเตือนท่านอีกครั้งเพื่อเป็นการยืนยันคำสั่งซื้อของท่าน<br/> </div>
    <div>หากต้องการยกเลิกคำสั่งซื้อ กรุณาติดต่อเจ้าหน้าที่ %dealer_nm% (ฝ่ายขาย)<br/> </div>
    <div>อีเมล์ฉบับนี้เป็นการแจ้งข้อมูลจากระบบอัตโนมัติ, กรุณาอย่าตอบกลับ<br/> </div>
	
    <div><br/>ขอแสดงความนับถือ<br/> </div>
    <div>Web Order System<br/> </div>
    
	<br/><br/>

    <div>To whom it may concern,<br/></div>
    <div>Thank you  %cusnm% ( %cusno% ) for placing your order %corno% to %dealer_nm% ( %dealer_no% ).<br/></div>
    <div>Your order will be processed accordingly. <br/><br/></div>
    <div>We will inform you again once your order is confirmed by %dealer_nm%.</div>
    <div>If you would like to cancel this order, please contact %dealer_nm% (Sales Team)<br/><br/></div>
	
    <div>This Order Acknowledgment is system generated.<br/></div>
    <div>Please do not reply directly to this email account.<br/></div>

	<div><br/>With Best Regards,<br/> </div>
    <div>Web Order System<br/> </div>
</body>

</html>