<html>

<body>

    <div>เรียน %cusnm% ( %cusno% )<br/></div>
    <div>%supnm% ได้รับคำสั่งซื้อสินค้า หมายเลข %corno% เรียบร้อยแล้ว<br/></div>
    <div>หากท่านต้องการยกเลิกคำสั่งซื้อ กรุณาติดต่อเจ้าหน้าที่เด็นโซ่(ฝ่ายขาย)<br/> </div>
    <div>ขอแสดงความนับถือ<br/></div>
    <div>%supnm% <br/><br/> </div>
    <div>อีเมล์ฉบับนี้เป็นการแจ้งข้อมูลจากระบบอัตโนมัติ, กรุณาอย่าตอบกลับ หากท่านมีข้อสงสัย<br/> </div>
    <div>หรือต้องการสอบถามรายละเอียดเพิ่มเติม กรุณาติดต่อ ตามเบอร์โทรศัพท์ 02-315-9500 ต่อ 6315, 6327<br/><br/></div>


    <div>Dear %cusnm% ( %cusno% )<br/></div>
    <div>Thank you for placing your order %corno% to %supnm% <br/></div>
    <div>Your order will be processed accordingly and we will inform you of the progress in due course.<br/><br/></div>
    <div>This Order Acknowledgment is system generated.</div>
    <div>Please do not reply directly to this email account.<br/><br/></div>
    <div>With Best Regards<br/></div>
    <div>%supnm% <br/></div>
    <div>Customer Service & Operation<br/></div>


</body>

</html>